*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/markdown-exported-files.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/
Libs/BaseAppLibs/
.idea

java_pid31966.hprof
.gitignore

content/libs/
content/src/main/res/drawable/
oauth2/libs/
oauth2/src/main/res/drawable/
weiboapplication/libs/
weiboapplication/src/main/res/drawable/
