*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/markdown-exported-files.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/
Libs/BaseAppLibs/
.idea
/oauth2
/weiboapplication
java_pid798.hprof
java_pid20161.hprof
java_pid2096.hprof
java_pid28085.hprof
java_pid29956.hprof

java_pid31966.hprof
